

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{.goodSKU.Image}}" style="width: 220px; height: 220px"></div>

		<div class="goods_detail_list fr">
			<h3>{{.goodSKU.Name}}</h3>
			<p>{{.goodSKU.Desc}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{.goodSKU.Price}}</em></span>
				<span class="show_unit">单  位：{{.goodSKU.Unite}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em></em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart" skuid="{{.goodSKU.ID}}">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{{range .newGoodSKU}}
						<li>
							<a href="/goodsDetail?id={{.ID}}"><img src="/static/{{.Image}}"></a>
							<h4><a href="/goodsDetail?id={{.ID}}">{{.Name}}</a></h4>
							<div class="prize">￥{{.Price}}</div>
						</li>
					{{end}}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{.goodSKU.Goods.Detail}} </dd>
				</dl>
			</div>

		</div>
	</div>
	<div class="add_jump"></div>
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script>
		updateGoodsPrice()
		function updateGoodsPrice() {
			//	获取单价和数量
			price = $(".show_pirze").children("em").text()
			count = $(".num_show").val()
			//处理数据 -- 直接获取的可能是字符串，将字符串转换为相应的类型
			price = parseFloat(price)
			count = parseInt(count)
			total = price * count
			//将计算得到的总价展示到页面  -- 保留小数点2位
			$(".total").children("em").text(total.toFixed(2) + "元")
		}
	//	添加商品
		$(".add").click(function() {
			count = $(".num_show").val()
			count = parseInt(count) + 1
		//	将添加后的商品展示到页面
			$(".num_show").val(count)
		//	更新商品总价
			updateGoodsPrice()

		})
	//	减少商品
		$(".minus").click(function() {
			count = $(".num_show").val()
			count = parseInt(count) - 1
			if (count < 1) count = 1
		//	将减少后的商品数量展示到页面
			$(".num_show").val(count)
		//	更新商品总价
			updateGoodsPrice()
		})
	//	手动修改商品数量
		$(".num_show").blur(function() {
			//失去焦点时拿到输入框的内容
			count = $(".num_show").val()
		//	对数据进行校验---前端能直接修改的数据都要进行修改
			if (isNaN(count) || count.trim().length == 0 || parseInt(count) < 1) {
				//非法输入重置为1
				count = 1
			}
		//	校验通过，更新到页面
			$(".num_show").val(count)
		//	更新总价
			updateGoodsPrice()

		})

		//添加购物车动画
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
			skuid = $('#add_cart').attr('skuid')
			count = $('.num_show').val()

			param = {"skuid":skuid,"count":count}
			$.post('/user/addCart',param,function (data) {
				if(data.code == 200) {
					$(".add_jump").stop().animate({
								'left': $to_y+7,
								'top': $to_x+7},
							"fast", function() {
								$(".add_jump").fadeOut('fast',function(){
									$('#show_count').html(data.cartCount);
								});

								$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
							});
				}else{
					alert(data)
				}
			})
		})
	</script>
